{{#toDelete}}
<div class="modal" tabindex="-1" id="confirmation">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
        	Voulez-vous supprimer l'utilisateur {{login}} ?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <form method="post" action="/users/delete/f">
        	<input type="hidden" name="id" value="{{id}}">
        	<button type="submit" class="btn btn-danger">Supprimer</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/toDelete}}
<script>
	var myModal = new bootstrap.Modal(document.getElementById('confirmation'), {});
	myModal.show();
</script>